:root {
  --logo-width: 150px;
}

* {
  font-family: 'Itim', cursive;
}

main {
  padding: 3% 0 0 0;
}


/* FORMATOS PARA EL HEADER */

header {
  width: 100%;
  display: flex;
}


/* FORMATOS PARA .contact */

.contact a {
  text-decoration: underline blue;
}


/* FORMATO DE LOGO */

.logo {
  width: 150px;
  height: calc(var(--logo-width) / 2.86);
  background-image: url("../img/logo.png");
  background-size: cover;
}


/* FORMATOS DE nav */

nav {
  border: 1px solid black;
  background-color: #EEEEEE;
}

nav a {
  background-color: transparent;
  font-weight: bold;
  color: #0389CD;
}

nav a:hover {
  background-color: gray;
  color: black;
}


/* FORMATOS DE .dropdown */

nav .dropdown-item {
  color: #0389CD;
}

nav .activo {
  background-color: #CCCCCC;
  color: #5D5D5D;
}


/* FORMATO PARA .congressImg */

.congressImg {
  max-width: 200px;
  max-height: 200px;
  width: 20vw;
  height: 20vw;
}


/* FORMATO DE footer */

footer {
  border: black 1px solid;
  text-align: center;
  background-color: #EEEEEE;
  padding-top: 3%;
  border: #0389CD 1px solid;
}

#stateDropdown {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.toTop {
  font-size: 2em;
  position: fixed;
  bottom: 15px;
  transition: 0.75s all;
}

.toTop:hover {
  font-size: 3em;
}

.toTop a,
.toTop a:active,
.toTop a:visited {
  color: #0389CD;
}

.toTop a:hover {
  color: blue;
}

.hide {
  opacity: 0;
  right: -100%;
}

.show {
  opacity: 1;
  right: 3vw;
}