body * {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --logo-width: 150px;
}

header {
  width: 100%;
  border: 1px solid red;
  display: flex;
}

.logo {
  width: 150px;
  height: calc(var(--logo-width) / 2.86);
  background-image: url("../img/logo.png");
  background-size: cover;
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  display: inline-block;
  border: 1px solid blue;
}

.contact {
  display: inline-block;
  /* position: relative; */
  /* top: 50%; */
  /* right: 5px; */
  /* transform: translateY(-50%); */
  border: 1px solid green;
}

nav {
  border: 1px solid yellow;
}