body * {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  /* border: red 1px solid; */
}

nav li {
  display: inline-block;
  /* background-color: #CCCCCC; */
}

header {
  position: relative;
  /* border: blue 1px solid; */
}

main {
  position: relative;
  /* border: green 1px solid; */
}

table#senate-data {
  width: 100%;
  border-collapse: collapse;
  border: black solid 1px;
}

table#senate-data td,
table#senate-data tr,
table#senate-data th {
  border-collapse: collapse;
  border: black solid 1px;
}

table#senate-data td,
table#senate-data th {
  max-width: 20%;
  min-width: 10%;
  text-align: center;
}