body {
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0%;
  background-color: #1c5364;
}

header {
  position: relative;
  top: 0;
  /* sheight: 10vh; */
  width: 100vw;
  background-color: #498294;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 2px 20px rgba(30, 255, 0, 0.726);
}

header>* {
  flex-grow: 1, 4;
  align-self: center;
}

#logo {
  height: 10vh;
  width: 10vh;
  margin: 2px;
}

main {
  position: relative;
  padding: 5vh;
}

footer {
  display: inline-flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: #498294;
}

footer>* {
  flex-grow: 1;
}


/* ANIMACIONES */

.pulse {
  opacity: 0;
  animation: 2s pulse infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spin {
  animation: spin 10s linear infinite;
  display: inline-block;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}