.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  z-index: -100;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  z-index: -10;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}


/* Formatos Custom */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: 1em sans-serif;
}

ul,
ol,
li {
  margin: 20px 0px 0px 10px;
  padding-left: 5px;
  list-style: none;
}

li>a {
  text-decoration: none;
  display: inline-block;
}

#mainUL,
#mainUL>li {
  margin: 5% 5% 0% 5%;
  padding-bottom: 15px;
}

#mainUL h3 {
  font-size: 1.25em;
  color: aliceblue;
  background-color: #808080;
  display: inline-block;
  padding: 3px;
}

#mainUL>li {
  border-bottom: #000 1px solid;
  display: block;
}

a:link,
a:visited,
a:active {
  color: black;
}

a:hover {
  /* background-color: gray; */
  box-shadow: #808080 5px 11px 20px
}


/* Header */

:root {
  --mindhub-width: 20vw;
  --mindhub-height: calc(var(--mindhub-width) / 3.53);
  --github-side: 2em
}

small {
  font: 1em sans-serif;
}

header h1 {
  position: absolute;
  bottom: 15%;
  left: 20px;
  font-size: 2.5em;
  color: white;
}

#logos {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--mindhub-height) * 2);
  /* width: calc(var(--mindhub-width) * 2 + 10px); */
  display: flex;
  flex-wrap: wrap;
}

#mindhub {
  /* position: relative; */
  min-width: 150px;
  min-height: 43px;
  width: var(--mindhub-width);
  height: var(--mindhub-height);
  background-image: url("logo-mindhub-blanco.png");
  background-size: contain;
}

#gcba {
  min-width: 150px;
  min-height: 40px;
  width: var(--mindhub-width);
  height: calc(var(--mindhub-height) - 2px);
  background-image: url("BA2016.png");
  background-size: contain;
}


/* Boton para scrollear abajo. NO IMPLEMENTADO AUN */

#scroller {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  max-width: 15%;
}

#mainUL>li>ul li::before {
  content: "•";
}

.pending {
  color: red
}

.process {
  color: yellow
}

.done {
  color: greenyellow;
}


/* #mainUL>li>ul li:hover::after {
  margin: 0px 0px 0px 5px;
  padding: 2px;
  background-color: #b1b1b1;
  display: inline;
  box-shadow: #000 5px 5px 15px;
  border-radius: 3px;
}

.pending:hover::after {
  content: "Not started yet.";
}

.process:hover::after {
  content: "In process...";
}

.done:hover::after {
  content: "Task Finished";
} */

footer {
  margin: 2em;
  margin-bottom: 3em;
  text-align: center;
  align-items: center;
}

footer>* {
  margin: 10px;
}

.container>* {
  margin: auto;
}

.d-flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

#githubLogo {
  width: var(--github-side);
  height: var(--github-side);
  background-image: url("GitHub-Mark.png");
  background-size: cover;
}