.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  z-index: -100;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  z-index: -10;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}


/* Formatos Custom */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: 1em sans-serif;
}

ul,
ol,
li {
  margin-left: 5px;
  padding-left: 5px;
}


/* Header */

:root {
  --mindhub-width: 20vw;
  --mindhub-height: calc(var(--mindhub-width) / 3.53);
}

small {
  font: 1em sans-serif;
}

header h1 {
  position: absolute;
  bottom: 15%;
  left: 20px;
  font-size: 2.5em;
  color: white;
}

#logos {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--mindhub-height) * 2);
  /* width: calc(var(--mindhub-width) * 2 + 10px); */
  display: flex;
  flex-wrap: wrap;
}

#mindhub {
  /* position: relative; */
  min-width: 150px;
  min-height: 43px;
  width: var(--mindhub-width);
  height: var(--mindhub-height);
  background-image: url("logo-mindhub-blanco.png");
  background-size: contain;
}

#gcba {
  min-width: 150px;
  min-height: 40px;
  width: var(--mindhub-width);
  height: calc(var(--mindhub-height) - 2px);
  background-image: url("BA2016.png");
  background-size: contain;
}

#scroller {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  max-width: 15%;
}